@import url('https://fonts.googleapis.com/css?family=Molle:400i');

body{
  margin:0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e9a68+0,2ad884+42,20ca7b+64,7ee8b3+100 */
background: #1e9a68; /* Old browsers */
background: -moz-linear-gradient(top,  #1e9a68 0%, #2ad884 42%, #20ca7b 64%, #7ee8b3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e9a68 0%,#2ad884 42%,#20ca7b 64%,#7ee8b3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e9a68 0%,#2ad884 42%,#20ca7b 64%,#7ee8b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e9a68', endColorstr='#7ee8b3',GradientType=0 ); /* IE6-9 */
min-height: 100vh;
}
.container{
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
}
.box {

    border: 1px solid white;
    border-radius: 5px;
    margin: 2vw;
    font-size: 2.5vw;
    padding:0.1vw;
    transition: all .07s;
    width: 5vw;
    text-align: center;
    color: white;


    transition: all 100ms ease-in-out;
}
.playing {
  box-shadow: 0 0 0 4px orange;
  transform: scale(1.1);
}
p:nth-child(2){
  font-size:1.5vw;
}
div h1{
  font-size:3vw;
  color:white;
  text-align: center;
  font-family: 'Molle', cursive;
}
footer p {
  text-align: center;
  font-size: 1.5vw;
}
